# ref: https://github.com/yureutaejin/yob/blob/main/.github/workflows/_build-bootc.yaml

name: "Build OCI Container"
run-name: "Build OCI Container - ${{ github.actor }}

on:
  workflow_call:
    inputs:
      oci_registry:
        description: 'OCI registry that you want to use. (e.g. `quay.io`, `docker.io`)'
        required: true
        default: 'quay.io'
        type: string
      oci_image_repo:
        description: 'Type the image repository path in OCI registry you want to push (`{tenancy-namespace}/{repo-name}`)'
        required: true
        default: 'beengineer/bgnr-fedora-bootc-42'
        type: string
      oci_image_tag:
        description: 'Type the image tag you want to use'
        required: true
        default: '1.0-20251002'
        type: string
      target_interface:
       description: 'Type the target interface you want to build (e.g. `core`, `desktop`, `all`)'
       required: true
       default: 'all'
       type: string

  workflow_dispatch:
    inputs:
      oci_registry:
        description: 'Choose the OCI registry you want to use.'
        required: true
        options:
           - quay.io
           - docker.io
        default: 'quay.io'
        type: choice
      oci_image_repo:
        description: 'Type the image repository path in OCI registry you want to push (`{tenancy-namespace}/{repo-name}`)'
        required: true
        default: 'beengineer/bgnr-fedora-bootc-42'
        type: string
      oci_image_tag:
        description: 'Type the image tag you want to use'
        required: true
        default: '1.0-20251002'
        type: string
      target_interface:
        description: 'Type the target interface you want to build (e.g. `core`, `desktop`, `all`)'
        required: true
        default: 'all'
        type: string

jobs:
  build-bootc:
    runs-on:
      labels:
        - bootc-builder

    steps:
      - name: Verify prerequisites
        run: |
          make --version &> /dev/null || {echo "Make is not installed"; exit 1; }
          docker --version &> /dev/null || {echo "Docker is not installed"; exit 1; }
      
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Login to OCI registry
        run: |
          make login-public-oci-registry
        env:
          OCI_REGISTRY: ${{ inputs.oci_registry }}
          OCI_REGISTRY_USERNAME : ${{ secrets.OCI_REGISTRY_BOT_USERNAME }}
          OCI_REGISTRY_PASSWORD : ${{ secrets.OCI_REGISTRY_BOT_PASSWORD }}
      
      - name: Build bootc
        run: |
          echo "::group::Build bootc:"
          make build-bootc
          echo "::endgroup::"
        env:
          OCI_REGISTRY: ${{ inputs.oci_registry }}
          OCI_IMAGE_REPO: ${{ inputs.oci_image_repo }}
          OCI_IMAGE_TAG: ${{ inputs.oci_image_tag }}
          OCI_COMMIT_HASH: ${{ github.sha }}
          TARGET_INTERFACE: ${{ inputs.target_interface }}
      
      - name: Push bootc image to registry
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo "::group::Push bootc image to registry:"
          make push-bootc
          echo "::endgroup::"
          echo "## Image path | tee -a $GITHUB_STEP_SUMMARY"
          echo "\`${OCI_REGISTRY}/${OCI_IMAGE_REPO}:${OCI_IMAGE_TAG}-${TARGET_INTERFACE}\` (all: It creates both core and desktop)" | tee -a $GITHUB_STEP_SUMMARY
        env:
          OCI_REGISTRY: ${{inputs.oci_registry }}
          OCI_IMAGE_REPO: ${{ inputs.oci_image_repo }}
          OCI_IMAGE_TAG: ${{ inputs.oci_image_tag }}
          TARGET_INTERFACE: ${{ inputs.target_interface }}
